body {
	display: flex;
	justify-content: center;
    text-align: center;
    margin: 0px;
    touch-action: manipulation;
}

.buttonCont {
	display: none;
}

.inputDiv {
	position: fixed;
	z-index: 1;
	height: 50px;
	width: 130px;
	margin-top: 33.5%;
}

.scoreListDiv {
	position: fixed;
	z-index: 1;
	width: 505px;
	height: 240px;
	margin-top: 340px;
	padding: 10px;
}

.listItems {
	width: 100%;
	height: 20px;
}

.ulCont {
	padding: 10px;
	padding-left: 30px;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-size: 16px;

}

.input {
	width: 80%;
	text-align: center;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	position: fixed;
	z-index: 1;
	border: 1px solid silver;
	width: 505px;
	height: 538px;
	margin-top: 50px;
	padding-top: 10%;
	font-size: 20px;
}

.Quick, .Player, .Level, .Leaderboard, .Resume, .Restart, .Quit, .Continue {
	border: 1px solid silver;
	width: 150px;
	height: 50px;
	margin-bottom: 10px;
	background-color: white;
	opacity: 0.7;
}

.Submit {
	border: 2px solid silver;
	width: 170px;
	height: 70px;
	margin-bottom: 10px;
	background-color: #82FA58;
	opacity: 0.7;
}

.nameDiv {
	margin-bottom: 10px;
	height: 100px;
}

.nameInput {
	text-align: center;
	opacity: 0.7;
	font-style: bold;
}

.textWin {
	font-size: 30px;
	color: white;
}

.textLose {
	font-size: 30px;
	color: red;
}

.textDiv {
	margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
	.menu {
		padding-top: 20%;
	}

	.buttonCont {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 180px;
		margin-top: 60vh;
	}

	.inputDiv {
	margin-top: 57%;
}

.input {
	width: 80%;
	text-align: center;
}

	.ud {
		height: 100%;
		width: 10%;
	}

	.up, .down, .left, .right {
		width: 100%;
		height: 40%;
		border: 1px solid silver;
		border-radius: 70px;
		font-size: 30px;
	}

	.left, .right {
		width: 10%;
	}

	.up {
		margin-bottom: 10%;
	}
}


