/*
* centers all of the elements of the body.
*/
body {
	display: flex;
	justify-content: center;
    text-align: center;
    margin: 0px;
    touch-action: manipulation;
}
/*
* Sets the canvas position to fixed.
*/
canvas {
	position: fixed;
}
/*
* screen arrow buttons.
*/
.buttonCont {
	display: none;
}
/*
* the input field in the player select screen.
*/
.selectInput {
	position: fixed;
	z-index: 1;
	margin-top: 430px;
	width: 100px;
	height: 30px;
	background-color: #F5D0A9;
	text-align: center;
	font-size: 18px;
	border: 0px solid white;
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
}
.scoreShow {
	color: white;
}
.inputDiv {
	position: fixed;
	z-index: 1;
	height: 50px;
	width: 130px;
	margin-top: 33.5%;
}
.scoreListDiv {
	position: fixed;
	z-index: 1;
	border: 1px solid black;
	width: 490px;
	height: 220px;
	margin-top: 350px;
	background-color: #629FA7;
}
.listItems {
	width: 100%;
	height: 20px;
}
.liItems {
	box-sizing: border-box;
	width: 80px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: inline-block;
}
.namingLi {
	list-style: none;
	display: inline-block;
	width: 80px;
	border-right: 1px solid black;
	padding-left: 0px;
}
.namingUl {
	width: 97%;
	height: 10%;
	font-size: 16px;
	margin-bottom: 0px;
}
.ulCont {
	width: 100%;
	height: 90%;
	overflow: auto;
	font-size: 16px;
	margin-bottom: 0px;

}
.input {
	width: 80%;
	text-align: center;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	position: fixed;
	z-index: 1;
	border: 1px solid silver;
	width: 505px;
	height: 538px;
	margin-top: 50px;
	padding-top: 10%;
	font-size: 20px;
}
.Quick, .Player, .Level, .Leaderboard, .Resume, .Restart, .Quit, .Continue {
	border: 1px solid silver;
	width: 150px;
	height: 50px;
	margin-bottom: 10px;
	background-color: white;
	opacity: 0.7;
}
.Submit {
	border: 2px solid silver;
	width: 170px;
	height: 70px;
	margin-bottom: 10px;
	background-color: #82FA58;
	opacity: 0.7;
}
.nameDiv {
	margin-bottom: 10px;
	height: 100px;
}
.nameInput {
	text-align: center;
	opacity: 0.7;
	font-style: bold;
}
.textWin {
	font-size: 30px;
	color: white;
}
.textLose {
	font-size: 30px;
	color: red;
}
.textDiv {
	margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
	.menu {
		padding-top: 20%;
	}
	.buttonCont {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 200px;
		margin-top: 60vh;
	}
	.inputDiv {
		margin-top: 57%;
	}
	.input {
		width: 80%;
		text-align: center;
	}
	.ud {
		height: 100%;
		width: 100px;
		margin: 5px;
	}

	.up, .down, .left, .right {
		width: 100%;
		height: 40%;
		margin: 5px;
		border: 1px solid silver;
		border-radius: 10px;
		font-size: 30px;
		opacity: 0.5;
		transition: 0.3s;
	}
	.anim {
		background-color: #E8F6FF;
		opacity: 0.8;
	}

	.up, .down {
		padding: 0px;
		margin: 0px;
	}
	.up {
		margin-bottom: 10px;
	}
	.left, .right {
		width: 15%;
	}
	.namingUl {
		width: 100%;
	}
	.Quick, .Player, .Level, .Leaderboard, .Resume, .Restart, .Quit, .Continue {
		font-size: 16px;
	}
}

@media screen and (max-width: 450px) {
	.menu {
		margin-top: 1%;
		width: 100%;
		height: 115vw;
	}
	canvas {
		width: 100%;
		height: 120vw;
	}
	.buttonCont {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 100px;
		margin-top: 80vh;
	}
	.ud {
		height: 100%;
		width: 100px;
	}
	.up, .down, .left, .right {
		width: 100%;
		height: 40%;
		border: 1px solid silver;
		border-radius: 10px;
		font-size: 30px;
		opacity: 0.5;
		transition: 0.3s;
	}
	.anim {
		background-color: #E8F6FF;
		opacity: 0.8;
	}

	.up, .down {
		padding: 0px;
		margin: 0px;
		height: 50px;
	}
	.up {
		margin-bottom: 2px;
	}
	.left, .right {
		width: 80px;
		height: 90px;
	}
	.scoreListDiv {
		margin-top: 68vw;
		height: 48vw;
		width: 100vw;
	}
	.liItems {
		width: 18%;
	}
	.namingLi {
		width: 18%;
	}
	.namingUl {
		width: 100%;
		font-size: 12px;
	}
	.selectInput {
		font-size: 14px;
		width: 70px;
		height: 20px;
		margin-top: 85vw;
	}
	.textWin {
		font-size: 20px;
	}
	.nameDiv {
		margin-bottom: 0px;
		width: 100%;
		height: 80px;
	}
	.nameInput {
		width: 70px;
		height: 30px;
		font-size: 14px;
	}
	.Quick, .Player, .Level, .Leaderboard, .Resume, .Restart, .Quit, .Continue {
		height: 40px;
		font-size: 14px;
	}
}